POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

EDP_RAW_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_raw
EDP_ODS_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_ods
EDP_VAULT_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_vault
EDP_MART_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_mart
EDP_APP_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_app

DBT_TARGET=mart
DBT_PG_HOST=pgbouncer
DBT_PG_PORT=6432
DBT_PG_USER=postgres
DBT_PG_PASSWORD=postgres
DBT_RAW_DB=edp_raw
DBT_ODS_DB=edp_ods
DBT_VAULT_DB=edp_vault
DBT_MART_DB=edp_mart
DBT_THREADS=4

GX_TARGET=mart
GX_RAW_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_raw
GX_ODS_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_ods
GX_VAULT_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_vault
GX_MART_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_mart

OPA_LOG_LEVEL=info

OPENBAO_DEV_ROOT_TOKEN_ID=edp-local-root-token
OPENBAO_ADDR=http://openbao:8200

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_RAW=edp-raw
MINIO_BUCKET_ARCHIVE=edp-archive
MINIO_BUCKET_EXPORTS=edp-exports
MINIO_BUCKET_CKAN=edp-ckan
MINIO_BUCKET_BACKUPS=edp-backups

AIRFLOW_DATABASE_USER=airflow
AIRFLOW_DATABASE_PASSWORD=airflow
AIRFLOW_DATABASE_URL=postgresql+psycopg2://airflow:airflow@pgbouncer:6432/airflow
AIRFLOW_FERNET_KEY=EfTI-rguNWb6UZjDJHhxh2_si__J_caA4TG-_zyB2Ik=
AIRFLOW_SECRET_KEY=WwpI9exMR8vI1oa_70tWqiO2E6p7t29TLBoIv-aGO01wXDUfHMxHKGSg-_xPJOBP
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow

SUPERSET_DATABASE_USER=superset
SUPERSET_DATABASE_PASSWORD=superset
SUPERSET_DATABSE_URI=postgresql+psycopg2://superset:superset@pgbouncer:6432/superset
SUPERSET_SECRET_KEY=EF7_3AzbkTuYuzwFYazWARYbKBrZuNlo3KUSnnwU50axlmdKXrXnY9I7Yr8DmorN
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com

OPENMETADATA_DATABASE_USER=openmetadata
OPENMETADATA_DATABASE_PASSWORD=openmetadata
OPENMETADATA_DATABASE=openmetadata
OPENMETADATA_DB_HOST=pgbouncer
OPENMETADATA_DB_PORT=6432
OPENMETADATA_AIRFLOW_DATABASE_USER=openmetadata_airflow
OPENMETADATA_AIRFLOW_DATABASE_PASSWORD=openmetadata_airflow
OPENMETADATA_AIRFLOW_DATABASE=openmetadata_airflow
OPENMETADATA_AIRFLOW_DB_HOST=pgbouncer
OPENMETADATA_AIRFLOW_DB_PORT=6432
OPENMETADATA_AUTHENTICATION_PROVIDER=basic
OPENMETADATA_AIRFLOW_USERNAME=admin
OPENMETADATA_AIRFLOW_PASSWORD=admin
OPENMETADATA_FERNET_KEY=jJ/9sz0g0OHxsfxOoSfdFdmk3ysNmPRnH3TUAbz3IHA=

CKAN_DATABASE_USER=ckan
CKAN_DATABASE_PASSWORD=ckan
CKAN_DATASTORE_READONLY_USER=ckan_datastore_readonly
CKAN_DATASTORE_READONLY_PASSWORD=ckan_datastore_readonly
CKAN_SITE_ID=edp-local
CKAN_SITE_URL=http://localhost:5000
CKAN_SQLALCHEMY_URL=postgresql://ckan:ckan@pgbouncer:6432/ckan
CKAN_DATASTORE_WRITE_URL=postgresql://ckan:ckan@pgbouncer:6432/ckan_datastore
CKAN_DATASTORE_READ_URL=postgresql://ckan_datastore_readonly:ckan_datastore_readonly@pgbouncer:6432/ckan_datastore
CKAN_SOLR_URL=http://ckan-solr:8983/solr/ckan
CKAN_REDIS_URL=redis://ckan-redis:6379/1
CKAN_DATAPUSHER_URL=http://ckan-datapusher:8800
CKAN_DATAPUSHER_CALLBACK_URL_BASE=http://ckan:5000
CKAN_SYSADMIN_NAME=ckan_admin
CKAN_SYSADMIN_PASSWORD=admin
CKAN_SYSADMIN_EMAIL=admin@example.com
CKAN_SESSION_SECRET=change-me-for-local-only
CKAN_API_TOKEN_ENCODE_SECRET=string:change-me-for-local-only
CKAN_API_TOKEN_DECODE_SECRET=string:change-me-for-local-only
CKAN_PLUGINS=image_view text_view datatables_view datastore datapusher envvars

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
