POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

EDP_RAW_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_raw
EDP_ODS_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_ods
EDP_VAULT_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_vault
EDP_MART_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_mart
EDP_APP_DATABASE_URL=postgresql+psycopg://postgres:postgres@pgbouncer:6432/edp_app

AIRFLOW_DATABASE_USER=airflow
AIRFLOW_DATABASE_PASSWORD=airflow
AIRFLOW_DATABASE_URL=postgresql+psycopg2://airflow:airflow@pgbouncer:6432/airflow
AIRFLOW_FERNET_KEY=EfTI-rguNWb6UZjDJHhxh2_si__J_caA4TG-_zyB2Ik=
AIRFLOW_SECRET_KEY=WwpI9exMR8vI1oa_70tWqiO2E6p7t29TLBoIv-aGO01wXDUfHMxHKGSg-_xPJOBP
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow

SUPERSET_DATABASE_USER=superset
SUPERSET_DATABASE_PASSWORD=superset
SUPERSET_DATABSE_URI=postgresql+psycopg2://superset:superset@pgbouncer:6432/superset
SUPERSET_SECRET_KEY=EF7_3AzbkTuYuzwFYazWARYbKBrZuNlo3KUSnnwU50axlmdKXrXnY9I7Yr8DmorN
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
