POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

EDP_RAW_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/edp_raw
EDP_ODS_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/edp_ods
EDP_VAULT_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/edp_vault
EDP_MART_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/edp_mart
EDP_APP_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/edp_app
AIRFLOW_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/airflow
SUPERSET_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/superset
